<div class="home-carousel">
  <carousel>
      <slide>
        <img src="../assets/images/fruits.jpg" alt="Fruits slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Fruits</h3>
          <a  routerLink="/fruits">Click here to know more about fruits and their hidden nutrition</a>
        </div>
      </slide>
      <slide>
        <img src="../assets/images/veggies.jpg" alt="Veggies slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Veggies</h3>
          <a  routerLink="/veggies">Click here to know more about veggies and their hidden nutrition</a>
        </div>
      </slide>
      <slide>
        <img src="../assets/images/dryfruits.jpg" alt="Dry Fruits slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Dry Fruits</h3>
          <a  routerLink="/dryFruits">Click here to know more about dry fruits and their hidden nutrition</a>
        </div>
      </slide>
    </carousel>
</div>

