.post-logo-container {
    background-color: rgb(29, 203, 247);
    border: 1px solid #ccc;
    padding-left: 0px;
    text-align: center;
    height: 80px;
}

.post-container {
    padding-bottom:15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
}

.hide{
    display: none;
}

.right {
    float: right;
}
